{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
  <title>Position List</title>
{% endblock %}
{% block content %}
  <!-- [ Main Content ] start -->
  <!-- [ breadcrumb ] start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="page-header-title">
            <h5 class="m-b-10">
              Positions List
            </h5>
              {% include "includes/search_form.html" %}
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'task_manager:index' %}"><i class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Positions List</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- [ breadcrumb ] end -->
  <div class="row">
    <!-- [ Contextual-table ] start -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="inline_label">
            Positions
            <a href="{% url 'task_manager:position-create' %}" class="btn btn-primary link-to-page"
               style="margin-left: 10px">
              Create
            </a>
          </h3>

        </div>
        <div class="card-body table-border-style">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
                {% if position_list %}
                  {% for position in position_list %}
                      <tr class="{% cycle "table-info" ""%}">
                      <td>{{ forloop.counter }}</td>
                      <td>{{ position.name }}</td>
                      <td>
                        <a href="{% url 'task_manager:position-update' pk=position.id %}"
                           class="btn btn-primary btn-sm rounded m-0">
                          <i class="feather icon-edit"></i>
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'task_manager:position-delete' pk=position.id %}"
                           class="btn btn-primary btn-sm rounded m-0">
                          <i class="feather icon-delete"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <p>There are no positions</p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Contextual-table ] end -->
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

